{% extends "transcriber_webpage/base.html" %}
{% block title %}Profile Page{% endblock title %}
{% block content %}
    <div class="my-4 flex justify-center">
        <img class="rounded-full shadow-lg h-24 w-24 object-cover border-4 border-gray-300 cursor-pointer" src="{{ user.profile.avatar.url }}"/>
    </div>

    {% if user_form.errors %}
        <div class="bg-red-500 text-white text-sm font-semibold px-3 py-2 rounded relative shadow-lg" role="alert">
            <span class="block sm:inline">Error:</span>
            <div id="form_errors" class="mt-2">
                {% for key, value in user_form.errors.items %}
                    <strong>{{ value }}</strong><br>
                {% endfor %}
            </div>
            <span class="absolute top-0 bottom-0 right-0 px-3 py-2">
                <button type="button" class="text-white" data-dismiss="alert" aria-label="Close">
                    &times;
                </button>
            </span>
        </div>
    {% endif %}

    <!-- Responsive width: full on small screens, lg width on larger screens -->
    <div class="w-full max-w-sm lg:max-w-lg mx-auto mt-4 bg-white p-4 rounded-lg shadow-md border border-gray-200">
        <form method="post" enctype="multipart/form-data" class="space-y-3">
            {% csrf_token %}
            <div class="p-3 border border-gray-300 rounded-md">
                <label class="block text-sm font-medium text-gray-700">Username:</label>
                {{ user_form.username }}
            </div>

            <!-- Ensure the email input takes full width -->
            <div class="p-3 border border-gray-300 rounded-md">
                <label class="block text-sm font-medium text-gray-700">Email:</label>
                <div class="w-full">
                    {{ user_form.email }}
                </div>
            </div>

            <div class="p-3 border border-gray-300 rounded-md">
                <a href="{% url 'password_change' %}" class="text-blue-600 hover:text-blue-800">Change Password</a>
                <hr class="my-3 border-gray-300">
                <label class="block text-sm font-medium text-gray-700">Change Avatar:</label>
                {{ profile_form.avatar }}
            </div>

            <div class="p-3 border border-gray-300 rounded-md">
                <label class="block text-sm font-medium text-gray-700">Bio:</label>
                {{ profile_form.bio }}
            </div>

            <div class="space-x-2">
                <button type="submit" class="bg-black text-white px-3 py-2 rounded-md shadow-md">Save Changes</button>
                <button type="reset" class="bg-gray-700 text-white px-3 py-2 rounded-md shadow-md">Reset</button>
            </div>
        </form>
    </div>
{% endblock content %}
